[Unit]
Description=Argon EON RTC Service
After=boot-complete.target
[Service]
Type=simple
Restart=always
RemainAfterExit=true
ExecStart=/usr/bin/python3 /etc/argon/argoneond.py SERVICE
#ExecStopPost=/usr/bin/python3 /etc/argon/argoneond.py SHUTDOWN
[Install]
WantedBy=multi-user.target
